*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;  
}


  
nav{
    background: #004;
    height: 120px;
    display: flex;
    gap: 270px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
    top: 0;
    padding: 0 0;
}

.navbar_titre{
    color: #fff;
    font-size: 40px;
    border-top: solid 2px #fa0;
    height: 100%;
    padding: 20px 0;
}
aside{
    font-size: 14px;
    height: 100%;
    justify-content: center;
}
.jour{
    margin-top: 50px;
    color: #fa0;
    height:20%;
    text-align: end;
}
.navbar_menu{
    display: flex;
    gap: 15px;
    list-style: none;
}
.navbar_links{
    text-decoration: none;
    color: #fff;
}
.navbar_links:hover{
    color: #23b315;
    transition: all 0.3s ease;
}
.navbar_item{
    height: 80px;
}
header{
    background-image: linear-gradient(to right, rgba(1, 6, 12, 0.753) 20%,  rgba(218, 176, 59, 0.61) );
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 10px 0;

}
.para{
    max-width: 710px;
    justify-items: center;
    margin: 20px auto;
    font-size: 12.5px;
}



section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin: auto;
    width: 800px;
    gap: 10px;
}
footer{
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to right, rgba(1, 6, 12, 0.753) 20%,  rgba(218, 176, 59, 0.61) );
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    height: 80px;
    display: flex;
    gap: 340px;
    padding: 10px 0;
    margin-top: 10px;
    bottom: 0px;
}
form{
    display: flex;
    flex-direction: column;
    width: 30%;
}
textarea{
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}
.loc{
    color: #888;
    inset: 0px 20px 0px 10px;
    width: 70%;
}
.liste{
    padding-left: 50px;
}